{% extends "cabecalho.html" %}
<section>
  <!---->
  {% block title %}Pokélearn{%endblock %}
  <!---->
  {% block content %}

  <img
    class="img_centralizada"
    src="{{ url_for('static', filename='imagens/logo.png') }}"
    alt="Pokélearn"
    style="width: 379px; height: 403px"
  />
  <div class="menu_principal">
    <h3
      style="
        text-shadow:
          1px 1px 2px #000,
          -1px -1px 2px #000,
          1px -1px 2px #000,
          -1px 1px 2px #000;
        color: #ffff;
      "
    >
      Aprenda matemática de forma divertida!
    </h3>
    <a href="{{ url_for('calculo_dano_page') }}" class="botao_minijogo"
      >Calcular Dano!</a
    >
    <a href="{{ url_for('calculo_xp_page') }}" class="botao_minijogo"
      >Calcular XP!</a
    >
    <a href="{{ url_for('calculo_prob_page') }}" class="botao_minijogo"
      >Chance de Captura!</a
    >
    <a href="{{ url_for('calculo_prob_event_page') }}" class="botao_minijogo"
      >Probabilidade de Eventos!</a
    >
    <a href="{{ url_for('calculo_logic_page') }}" class="botao_minijogo"
      >Qual é o tipo?</a
    >
  </div>
  <div
    style="
      text-align: center;
      margin-top: 10%;
      padding: 0.35%;
      text-shadow:
        2px 2px 3px #000,
        -1px -1px 2px #000,
        1px -1px 2px #000,
        -1px 1px 2px #000;
      color: #ffff;
      font-size: 0.8rem;
      background-color: rgb(0, 0, 0, 0.4);
    "
  >
    <span
      >Este é um projeto independente, sem fins lucrativos e com finalidade
      exclusivamente educacional, desenvolvido para incentivar o aprendizado de
      matemática de forma lúdica. <br /><br />
      Pokémon é uma propriedade da Nintendo, da The Pokémon Company e de seus
      respectivos detentores de direitos. Este projeto não é afiliado, apoiado
      ou patrocinado por essas empresas.
    </span>
  </div>
</section>
{% endblock %}
